@import './Variable.scss';

.form-area {
  display: $display-flex;
  flex-direction: $flex-direction;
  width: 28%;
  margin: 7% 0 0px 36%;
  justify-content: $display-center;
}

.link-container {
  display: $display-flex;
  margin: 20px 65px 0 0;
  background-color: $background-color-blue;
  width: 100%;
}

ul li {
  list-style: $list-style-none;
  display: $display-inline;
}

a:-webkit-any-link {
  margin-left: $margin-20;
  cursor: $cursor-pointer;
  color: $color-white;
  text-decoration: $list-style-none;
}

.logout-button {
  background-color: $background-color-yellow;
  border-radius: 4px;
  margin: 2% 0px 0px 46%;
  width: 7%;
}

.heading-text {
  text-align: $display-center;
}

input {
  margin-bottom: $margin-20;
  padding: 8px;
}

.error-text {
  color: red;
  text-align: $display-center;
  font-size: 23px;
}