$display-flex: flex;
$display-inline: inline;
$flex-direction: column;
$display-center: center;
$background-color-blue:  rgb(6, 133, 184);
$background-color-yellow: rgb(224, 224, 62);
$list-style-none: none;
$margin-20: 20px;
$color-white: white;
$cursor-pointer: pointer;